{%extends 'base.html'%}
{%block content%}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container" style="background-color: ;">
    
    <div class="container" style="float: left;">
        <div class="row">
            <div class="card-column">
                <div class="col mr-0">
                    {%for home in neighbourhoods%}

                    <div class="" style="max-width:23rem;margin-top:5px;">

                        <img src="{{home.home_photo.cdn_url}}" class="card-img-top">
                        <div class="card-body" style="margin-left:450px; margin-top: -265px;">

                            <div class="media">
                                <div class="media-left media-top">
                                    <p><strong>Hood:</strong>     {{home.home_description}}</p>
                                    <p><strong>Location:</strong> {{hood.location}}</p>
                                </div>
                            </div>
                            <hr>
                            <p><strong>Occupants:</strong>  {{hood.user.more.hood_id.id}}</p>
                            <a class="btn btn-sm btn-success" href="{% url 'more' home.id %}">More</a>
                        </div>

                        {%endfor%}

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>
<br>
<br>
<br>
{%endblock%}