{%extends 'base.html'%}
{%block content%}
{% load bootstrap4 %}
<br>
<br>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<div class="container" style="background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fc1.wallpaperflare.com%2Fpreview%2F108%2F202%2F382%2Fluxury-home-lighting-windows-mansion.jpg&imgrefurl=https%3A%2F%2Fwww.wallpaperflare.com%2Fluxury-home-lighting-windows-mansion-range-rover-white-wallpaper-wwjhv&docid=HxDOp8jN5IH8-M&tbnid=mLIvyC_IU03K_M%3A&vet=10ahUKEwj05Jn8n5vnAhWhQhUIHY4RAlcQMwiPASgeMB4..i&w=910&h=607&client=opera&bih=671&biw=984&q=4k%20home%20hd%20wallpapers%20for%20pc&ved=0ahUKEwj05Jn8n5vnAhWhQhUIHY4RAlcQMwiPASgeMB4&iact=mrc&uact=8);">
    
    <div class="container" style="float: left;">
        <div class="row">
            <div class="card-column">
                <div class="col mr-0">
                    {%for home in neighbourhoods%}

                    <div class="" style="max-width:23rem;margin-top:5px;">

                        <img src="{{home.home_photo.cdn_url}}" class="card-img-top">
                        <div class="card-body" style="margin-left:450px; margin-top: -265px;">

                            <div class="media">
                                <div class="media-left media-top">
                                    <p><strong>Hood:</strong>     {{home.home_description}}</p>
                                    <p><strong>Location:</strong> {{hood.location}}</p>
                                </div>
                            </div>
                            <hr>
                            <p><strong>Occupants:</strong>  {{hood.user.more.hood_id.id}}</p>
                            <a class="btn btn-sm btn-success" href="{% url 'join' hood.id %}">Join</a>
                        </div>

                        {%endfor%}

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>
<br>
<br>
<br>
{%endblock%}